<div id="<%= dom_id post %>">
  <p>
    <strong>Name:</strong>
    <%= post.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag(post.image_webp_variant) if post.image.attached? %>
  </p>

</div>
